<app-nav-bar></app-nav-bar>

<div class="header"></div>
<div class="admin-container">
    <p class="title">Employee List</p>
    <hr/>
    <div class="buttons">
        <button type="button" (click)="goToAddEmployee()">Add Employee</button>
        <button type="button" (click)="goToSalaryList()">Salary List</button>
    </div>

    <table class="EmpList">
        <th class="thtd-id">ID</th>
        <th hidden>Email</th>
        <th>Name</th>
        <th>Job Title</th>
        <th>Department</th>
        <th>Start Date</th>
        <th>End Date</th>
        <tbody *ngFor="let i of employees">
            <tr>
                <td class="thtd-id">{{ i.employeeId }}</td>
                <td hidden>{{ i.email }}</td>
                <td class="profile"><a [routerLink]="" (click)="goToEmpProfile(i.email)">{{ i.firstName }} {{ i.lastName }}</a></td>
                <td class="profile"><a [routerLink]="" (click)="goToEmpProfile(i.email)">{{ i.jobTitle }}</a></td>
                <td class="profile"><a [routerLink]="" (click)="goToEmpProfile(i.email)">{{ i.departmentName }}</a></td>
                <td><a [routerLink]="" (click)="goToEmpProfile(i.email)">{{ i.startDate | date: 'dd-MM-yyyy' }}</a></td>
                <td><a [routerLink]="" (click)="goToEmpProfile(i.email)">{{ i.endDate | date: 'dd-MM-yyyy' }}</a></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="footer"></div>
<router-outlet></router-outlet>