.admin-container{
    background-color: white;
    height: fit-content;
    border: 1px solid #000;
    width: 50vw;
    margin: auto auto auto auto;
    padding: 40px;
    border-radius: 4px;
    text-align: center;    
}
.buttons{
    display: flex;
    justify-content: space-between;
    gap: 3em;
}
.header, .footer{
    min-height: 3em;
}
.profile{
    text-decoration: underline;
    color: blue;
}
.title{
    font-size: 20px;
    font-weight: bold;
    margin: 0em 0em 0.5em 0em;
    text-align: left;
}
.thtd-id{
    width: 5em !important;
}

button{
    background-color: rgb(50, 50, 102);
    color: #fff;
    border: 1px solid rgb(30, 30, 71);
    padding: 10px 30px;
    margin: 2em 0em 2em 0em;
    border-radius: 5px;
    min-width: 150px;
}

table{
    border-collapse: collapse;
    width: 50vw;
    max-height: 75vh;
    overflow-y: auto;
}
th, td{
    border: 0.5px rgb(191, 191, 192);
    border-style: solid none;
    width: 10em;
    height: 2em;
}
th{
    padding-top: 1em;
}