.notif-msg{
    color: red;
    font-style: italic;
    font-size: 16px;
}

.notif-match{
    display: inline-block;
    color: red;
    font-style: italic;
    font-size: 14px;
    margin-left: 170px;
}
.password-container{
    background-color: white;
    height: fit-content;
    border: 1px solid #000;
    width: 500px;
    margin: 50px auto auto auto;
    padding: 40px;
    border-radius: 4px;
    text-align: center;    
}

button{
    background-color: rgb(50, 50, 102);
    color: #fff;
    border: 1px solid rgb(30, 30, 71);
    padding: 10px 30px;
    margin: 40px 0 0 0;
    border-radius: 5px;
}

input{
    border: 1px solid rgb(30, 30, 71);
    border-radius: 2px;
    padding: 5px 10px;
    margin: 0 0 15px 0;
}
label {
    text-align: left;
    display: inline-block;
    min-width: 150px;
    padding: 5px;
    margin-right:40px;
}
