<app-nav-bar></app-nav-bar>
<div class="password-container">
    
    <p>
        <label class="login">Email: </label><input type='text' [(ngModel)] = "username" />
    </p>
    
    <p>
        <label class="login">Password: </label>
        <input name="password" type="password" [(ngModel)] = "password" required/>
        
    </p>

    <p>
        <label class="login">Confirm Password: </label>
        <input name="confirm" type="password" [(ngModel)] = "confirm" ng-pattern="password" required/>
        <br>
        <span class="notif-match" *ngIf="password != confirm">Passwords do not match.</span>
    </p>

    <p class="submit-btn">
        <button (click)="changePassword()">Submit</button>
    </p>
    <p class="notif-msg"> {{ message }} </p>
</div>
<router-outlet></router-outlet>