.back {
    position: absolute;
    left: 0;
    margin: -5em 0em 0em 5em;
}

.logout {
    position: absolute;
    right: 0;
    margin: -5em 5em 0em 0em;
}

button{
    background-color: whitesmoke;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(30, 30, 71);
    padding: 10px 20px;
    margin: 40px;
    border-radius: 5px;
}